{
  "schema_version": 1,
  "package": "kconfig",
  "purls": [],
  "cpes": [
    "cpe:2.3:a:kde:kconfig"
  ],
  "generated_at": "2026-06-10T06:09:04+00:00",
  "conda_versions_total": 13,
  "latest_version": "5.76.0",
  "advisories": [
    {
      "schema_version": "1.6.0",
      "id": "CVE-2019-14744",
      "published": "2019-08-07T15:15:13.970Z",
      "modified": "2024-11-21T04:27:15.153Z",
      "aliases": [],
      "summary": "In KDE Frameworks KConfig before 5.61.0, malicious desktop files and configuration files lead to code execution with minimal user interaction.",
      "details": "In KDE Frameworks KConfig before 5.61.0, malicious desktop files and configuration files lead to code execution with minimal user interaction. This relates to libKF5ConfigCore.so, and the mishandling of .desktop and .directory files, as demonstrated by a shell command on an Icon line in a .desktop file.",
      "affected": [
        {
          "package": {
            "ecosystem": "GIT",
            "name": "kconfig",
            "purl": "pkg:generic/kde/kconfig"
          },
          "ranges": [
            {
              "type": "ECOSYSTEM",
              "events": [
                {
                  "introduced": "0"
                },
                {
                  "fixed": "5.61.0"
                }
              ]
            }
          ]
        }
      ],
      "references": [
        {
          "type": "WEB",
          "url": "http://lists.opensuse.org/opensuse-security-announce/2019-08/msg00013.html"
        },
        {
          "type": "WEB",
          "url": "http://lists.opensuse.org/opensuse-security-announce/2019-08/msg00016.html"
        },
        {
          "type": "WEB",
          "url": "http://lists.opensuse.org/opensuse-security-announce/2019-08/msg00034.html"
        },
        {
          "type": "WEB",
          "url": "http://packetstormsecurity.com/files/153981/Slackware-Security-Advisory-kdelibs-Updates.html"
        },
        {
          "type": "WEB",
          "url": "https://access.redhat.com/errata/RHSA-2019:2606"
        },
        {
          "type": "WEB",
          "url": "https://gist.githubusercontent.com/zeropwn/630832df151029cb8f22d5b6b9efaefb/raw/64aa3d30279acb207f787ce9c135eefd5e52643b/kde-kdesktopfile-command-injection.txt"
        },
        {
          "type": "WEB",
          "url": "https://lists.debian.org/debian-lts-announce/2019/08/msg00023.html"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/5IRIKH7ZWXELIQT6WSLV7EG3VTFWKZPD/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/FNHO6FZRYBQ2R3UCFDGS66F6DNNTKCMM/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/UYKLUSSEK3YJOVQDL6K2LKGS3354UH6L/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/WTFBQRJAU7ITD3TOMPZAUQMYYCAZ6DTX/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/YIDXQ6CUB5E7Y3MJWCUY4VR42QAE6SCJ/"
        },
        {
          "type": "WEB",
          "url": "https://seclists.org/bugtraq/2019/Aug/12"
        },
        {
          "type": "WEB",
          "url": "https://seclists.org/bugtraq/2019/Aug/9"
        },
        {
          "type": "WEB",
          "url": "https://security.gentoo.org/glsa/201908-07"
        },
        {
          "type": "WEB",
          "url": "https://usn.ubuntu.com/4100-1/"
        },
        {
          "type": "WEB",
          "url": "https://www.debian.org/security/2019/dsa-4494"
        },
        {
          "type": "WEB",
          "url": "https://www.zdnet.com/article/unpatched-kde-vulnerability-disclosed-on-twitter/"
        },
        {
          "type": "WEB",
          "url": "http://lists.opensuse.org/opensuse-security-announce/2019-08/msg00013.html"
        },
        {
          "type": "WEB",
          "url": "http://lists.opensuse.org/opensuse-security-announce/2019-08/msg00016.html"
        },
        {
          "type": "WEB",
          "url": "http://lists.opensuse.org/opensuse-security-announce/2019-08/msg00034.html"
        },
        {
          "type": "WEB",
          "url": "http://packetstormsecurity.com/files/153981/Slackware-Security-Advisory-kdelibs-Updates.html"
        },
        {
          "type": "WEB",
          "url": "https://access.redhat.com/errata/RHSA-2019:2606"
        },
        {
          "type": "WEB",
          "url": "https://gist.githubusercontent.com/zeropwn/630832df151029cb8f22d5b6b9efaefb/raw/64aa3d30279acb207f787ce9c135eefd5e52643b/kde-kdesktopfile-command-injection.txt"
        },
        {
          "type": "WEB",
          "url": "https://lists.debian.org/debian-lts-announce/2019/08/msg00023.html"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/5IRIKH7ZWXELIQT6WSLV7EG3VTFWKZPD/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/FNHO6FZRYBQ2R3UCFDGS66F6DNNTKCMM/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/UYKLUSSEK3YJOVQDL6K2LKGS3354UH6L/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/WTFBQRJAU7ITD3TOMPZAUQMYYCAZ6DTX/"
        },
        {
          "type": "WEB",
          "url": "https://lists.fedoraproject.org/archives/list/package-announce%40lists.fedoraproject.org/message/YIDXQ6CUB5E7Y3MJWCUY4VR42QAE6SCJ/"
        },
        {
          "type": "WEB",
          "url": "https://seclists.org/bugtraq/2019/Aug/12"
        },
        {
          "type": "WEB",
          "url": "https://seclists.org/bugtraq/2019/Aug/9"
        },
        {
          "type": "WEB",
          "url": "https://security.gentoo.org/glsa/201908-07"
        },
        {
          "type": "WEB",
          "url": "https://usn.ubuntu.com/4100-1/"
        },
        {
          "type": "WEB",
          "url": "https://www.debian.org/security/2019/dsa-4494"
        },
        {
          "type": "WEB",
          "url": "https://www.zdnet.com/article/unpatched-kde-vulnerability-disclosed-on-twitter/"
        }
      ],
      "severity": [
        {
          "type": "CVSS_V3",
          "score": "CVSS:3.1/AV:L/AC:L/PR:N/UI:R/S:U/C:H/I:H/A:H"
        },
        {
          "type": "CVSS_V2",
          "score": "AV:N/AC:H/Au:N/C:P/I:P/A:P"
        }
      ],
      "database_specific": {
        "conda-forge": {
          "package": "kconfig",
          "purl": "pkg:conda/kconfig?channel=conda-forge",
          "source_purls": [
            "pkg:generic/kde/kconfig"
          ],
          "affected_versions": [],
          "conda_versions_total": 13,
          "affects_future": false,
          "derived_by": "purl-associator/scripts.nvd_prototype",
          "generated_at": "2026-06-10T06:09:04+00:00"
        },
        "nvd": {
          "cpes": [
            "cpe:2.3:a:kde:kconfig"
          ],
          "matched_via": [
            "cpe:2.3:a:kde:kconfig"
          ],
          "source": "nvd-rest-api"
        }
      }
    }
  ]
}
